$width-phone: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;
$width-max: 1920px;

$padding-page-phone: 20px;
$padding-page-tablet: 20px;
$padding-page-desktop: 40px;

$color-base-white: #ffffff;
$color-flat-white: #f3ebe1;
$color-base-grey: #bdbdbd;
$color-light-grey: #e2e2e2;
$color-lightest-grey: #f8f8f8;
$color-espresso: #e5e6e8;
$color-black: #333333;
$color-magnolia: #f0ebff;
$color-lavender: #eae6fc;
$color-base-violet: #7859cf;
$color-lighter-violet: #9070ec;
$color-darker-violet: #593cac;
$color-transparent-violet: #{transparentize($color-base-violet, 0.75)};
$color-transparent-black: rgba(0, 0, 0, 0.15);

:root {
  --font-primary: "Montserrat", "Arial", sans-serif;

  --color-font-basic: #{$color-black};
  --color-font-secondary: #{$color-base-white};
  --color-font-selected: #{$color-base-violet};
  --color-font-placeholder: #{$color-base-grey};

  --color-bg-basic: #{$color-base-white};
  --color-bg-secondary: #{$color-lightest-grey};
  --color-bg-slider-connect: #{$color-lighter-violet};
  --color-bg-slider-bar: #{$color-light-grey};
  --color-bg-focus: #{$color-magnolia};
  --color-bg-first-slide: #{$color-flat-white};
  --color-bg-second-slide: #{$color-lavender};
  --color-bg-third-slide: #{$color-espresso};
  --color-bg-button: #{$color-base-violet};
  --color-bg-button-hover: #{$color-lighter-violet};
  --color-bg-button-active: #{$color-darker-violet};
  --color-bg-button-disabled: #{$color-base-grey};
  --color-bg-button-disabled-secondary: #{$color-light-grey};
  --color-bg-button-transparent: #{$color-transparent-violet};
  --color-bg-checkbox: #{$color-base-grey};

  --color-bd-basic: #{$color-base-grey};
  --color-bd-secondary: #{$color-magnolia};
  --color-bd-accent: #{$color-base-violet};
  --color-bd-light-accent: #{$color-lighter-violet};
  --color-bd-focus: #{$color-darker-violet};
  --color-bd-disabled: #{$color-light-grey};

  --color-icon-basic: #{$color-black};
  --color-icon-hover: #{$color-base-violet};
  --color-icon-disabled: #{$color-base-grey};

  --color-card-shadow: #{$color-transparent-black};
}
