$width-phone: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

$padding-page-phone: 20px;
$padding-page-tablet: 20px;
$padding-page-desktop: 40px;

$color-base-white: #ffffff;
$color-flat-white: #f3ebe1;
$color-base-grey: #bdbdbd;
$color-light-grey: #e2e2e2;
$color-lightest-grey: #f8f8f8;
$color-espresso: #e5e6e8;
$color-black: #333333;
$color-magnolia: #f0ebff;
$color-lavender: #eae6fc;
$color-base-violet: #7859cf;
$color-lighter-violet: #9070ec;
$color-darker-violet: #593cac;
$color-opacity-violet: #{transparentize($color-base-violet, 0.75)};

:root {
  --font-primary: "Montserrat", "Arial", sans-serif;

  --color-font-basic: #{$color-black};
  --color-font-secondary: #{$color-base-white};
  --color-font-selected: #{$color-base-violet};

  --color-bg-basic: #{$color-base-white};
  --color-bg-link: #{$color-magnolia};
  --color-bg-first-slide: #{$color-flat-white};
  --color-bg-button: #{$color-base-violet};

  --color-bd-secondary: #{$color-magnolia};
  --color-bd-text: #{$color-base-violet};

  --color-icon-basic: #{$color-black};
  --color-icon-hover: #{$color-base-violet};
}
