@use "../global/forward" as *;

.button {
  display: inline-flex;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  background-color: var(--color-bg-button);
  border: none;
  border-radius: 4px;
  color: var(--color-font-secondary);
  cursor: pointer;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    @include media-hover {
      background-color: var(--color-bg-button-hover);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--color-bg-button-active);
  }

  &:disabled {
    background-color: var(--color-bg-button-disabled);
    cursor: default;
  }
}
