@use "../global/forward" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: var(--color-font-secondary);
  background-color: var(--color-bg-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &--secondary {
    color: var(--color-font-selected);
    background-color: var(--color-bg-basic);
  }

  &--icon {
    gap: 6px;

    &::before {
      content: "";
      flex-shrink: 0;
      width: 20px;
      height: 16px;
      background: center / contain no-repeat;
    }
  }

  &--icon_cart::before {
    background-image: url("../../images/icons/stack.svg#cart-add");
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    @include media-hover {
      color: var(--color-font-secondary);
      background-color: var(--color-bg-button-hover);
    }
  }

  &:active:not(:disabled) {
    color: var(--color-font-secondary);
    background-color: var(--color-bg-button-active);
  }

  &:disabled {
    background-color: var(--color-bg-button-disabled);
    cursor: default;
  }

  &--secondary:disabled {
    color: var(--color-font-secondary);
    background-color: var(--color-bg-button-disabled-secondary);
  }
}
