@use "../global/forward" as *;

.catalog {
  padding-block: 50px 44px;
  padding-inline: calc(50% - 0.5 * $width-phone + $padding-page-phone);
  background-color: var(--color-bg-secondary);
  text-align: center;

  @include media-tablet {
    padding-block: 80px 90px;
    padding-inline: calc(50% - 0.5 * $width-tablet + $padding-page-tablet);
  }

  @include media-desktop {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 30px;
    padding-block: 100px 120px;
    padding-inline: calc(50% - 0.5 * $width-desktop + $padding-page-desktop);
  }
}

.catalog__badge {
  margin-block: 0 4px;

  @include media-desktop {
    grid-column: span 2;
  }
}

.catalog__heading {
  margin-block: 0 20px;

  @include media-desktop {
    grid-column: span 2;
    margin-bottom: 40px;
  }
}

.catalog__form {
  margin-bottom: 40px;

  @include media-desktop {
    grid-row: span 3;
    grid-column: 1 / 2;
  }
}

.catalog__select-label {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  padding-left: 3px;

  @include media-tablet {
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 26px;
  }

  @include media-desktop {
    margin-top: -4px;
  }
}

.catalog__select-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog__select {
  width: 162px;
  padding: 4px 27px 4px 10px;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  background: url("../../images/icons/stack.svg#arrow-down") right 7px center / 10px 10px no-repeat;
  color: var(--color-font-selected);
  cursor: pointer;
  appearance: none;

  @include media-tablet {
    width: 165px;
    background-position: right 10px center;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    @include media-hover {
      background-color: var(--color-bg-focus);
      background-image: url("../../images/icons/stack.svg#arrow-down");
      outline: none;
    }
  }

  &:active:not(:disabled) {
    background-color: var(--color-bg-secondary);
    background-image: url("../../images/icons/stack.svg#arrow-up");
  }

  &:disabled {
    color: var(--color-font-placeholder);
    border-color: var(--color-bd-disabled);
    background-image: url("../../images/icons/stack.svg#arrow-disabled");
    cursor: initial;
  }
}

.catalog__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;

  @include media-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 70px;
  }

  @include media-desktop {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
    margin-right: 1px;
  }
}

.catalog__item {
  &:hover {
    @include media-hover {
      box-shadow: 0 5px 15px 0 var(--color-card-shadow);
    }
  }

  @include media-desktop {
    &:nth-child(2) {
      box-shadow: 0 5px 15px 0 var(--color-card-shadow);
    }
  }
}

.catalog__pagination {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;

  @include media-tablet {
    justify-content: flex-end;
  }
}

.catalog__pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 180px;
  min-height: 40px;
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  &--prev::before,
  &--next::before {
    content: "";
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    mask: url("../../images/icons/stack.svg#arrow-pagination") center / contain no-repeat;
    background-color: var(--color-icon-hover);

    @include media-tablet {
      display: none;
    }
  }

  &--next::before {
    transform: rotate(180deg);
  }

  &--current {
    font-weight: 600;
  }


  &--prev:hover:not(:disabled)::before,
  &--next:hover:not(:disabled)::before,
  &--prev:focus-visible:not(:disabled)::before,
  &--next:focus-visible:not(:disabled)::before {
    @include media-hover {
      background-color: var(--color-bg-basic);
    }
  }

  &--prev:active:not(:disabled)::before,
  &--next:active:not(:disabled)::before {
    background-color: var(--color-bg-basic);
  }

  &--prev:disabled::before,
  &--next:disabled::before {
    background-color: var(--color-bg-basic);
  }
}

.catalog__pagination-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  @include media-tablet {
    position: static;
    overflow: visible;
    clip: unset;
    clip-path: none;
    width: unset;
    height: unset;
    margin: 0;
    padding-inline: 12px;
    white-space: normal;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
