@use "../global/forward" as *;

.footer {
  display: flex;
  flex-direction: column;
  padding-block: 20px 10px;
}

.footer__socials,
.footer__shop,
.footer__media,
.footer__contacts {
  padding-inline: calc(50% - 0.5 * $width-phone + $padding-page-phone);
  border-bottom: 1px solid var(--color-bd-secondary);

  @include media-tablet {
    padding-inline: 0;
    border-bottom: none;
  }
}

.footer__dev {
  order: 10;
  margin-block: 10px;
  padding-inline: calc(50% - 0.5 * $width-phone + $padding-page-phone);

  @include media-tablet {
    padding-inline: 0;
  }
}
