@use "../global/forward" as *;

.header {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-inline: calc(50% - 0.5 * $width-phone + $padding-page-phone);

  @include media-tablet {
    column-gap: 20px;
    padding-inline: 0;
  }

  @include media-desktop {
    column-gap: 40px;
    justify-content: space-between;
  }
}

.header__logo {
  flex-shrink: 0;
  margin: 12px auto 0 0;

  @include media-tablet {
    margin-top: 22px;
  }

  @include media-desktop {
    margin: 0;
  }
}

.header__toggle {
  display: block;
  width: 52px;
  height: 60px;
  margin-inline: 4px -16px;
  padding: 0;
  background: url("../../images/icons/stack.svg#burger") center / 16px 16px no-repeat;
  border: none;
  cursor: pointer;

  @include media-tablet {
    display: none;
  }

  .header--js-menu-opened & {
    background-image: url("../../images/icons/stack.svg#cross");
  }

  &:active {
    background-color: var(--color-bg-focus);
  }
}
