@use "../global/forward" as *;

.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 20px;
}

.logo__icon {
  display: block;
  width: 32px;
  height: 36px;
  max-width: none;

  .logo--footer & {
    width: 82px;
  }

  @include media-tablet {
    width: 82px;
  }

  @include media-desktop {
    width: 170px;
  }
}

.logo__text {
  display: none;

  @include media-desktop {
    display: block;
    max-width: 126px;
    margin-block: 24px;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-font-basic);
  }
}
