@use "../global/forward" as *;

.main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-index__hero {
  width: 100%;
}

.main-index__features {
  width: $width-phone - 2 * $padding-page-phone;
  margin-inline: auto;

  @include media-tablet {
    width: $width-tablet - 2 * $padding-page-tablet;
  }

  @include media-desktop {
    width: $width-desktop - 2 * $padding-page-desktop;
  }
}

.main-index__catalog {
  width: 100%;
}

.main-index__map {
  width: 100%;
}
