@use "../global/forward" as *;

.slider {
  display: grid;
  grid-template-columns: $padding-page-phone 1fr $padding-page-phone;

  @include media-tablet {
    --width-button-slider-tablet: 80px;

    grid-template-columns: var(--width-button-slider-tablet) 1fr var(--width-button-slider-tablet);
  }

  @include media-max {
    grid-template-columns:
      1fr var(--width-button-slider-tablet)
      min(calc($width-max - 2 * var(--width-button-slider-tablet)), calc(100% - 2 * var(--width-button-slider-tablet)))
      var(--width-button-slider-tablet) 1fr;
  }
}

.slider__list {
  @include list-reset;

  grid-area: 1 / 1 / 2 / 4;

  @include media-desktop {
    grid-area: 1 / 1 / 3 / 4;
  }

  @include media-max {
    grid-area: 1 / 1 / 3 / 6;
  }
}

.slider__slide {
  width: 100%;
  height: 100%;
}

.slider__btn {
  z-index: 1;
  display: flex;
  width: $padding-page-phone;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  outline-offset: -1px;
  cursor: pointer;

  @include media-tablet {
    width: var(--width-button-slider-tablet);
    outline-offset: -2px;
  }

  &::before {
    content: "";
    width: 11px;
    height: 20px;
    margin: auto;
    background-color: var(--color-icon-hover);
    mask: url("../../images/icons/stack.svg#arrow-right") center / contain no-repeat;
  }

  &--prev {
    grid-area: 1 / 1 / 2 / 2;

    @include media-desktop {
      grid-area: 1 / 1 / 3 / 2;
    }

    @include media-max {
      grid-area: 1 / 2 / 3 / 3;
    }
  }

  &--next {
    grid-area: 1 / 3 / 2 / 4;

    @include media-desktop {
      grid-area: 1 / 3 / 3 / 4;
    }

    @include media-max {
      grid-area: 1 / 4 / 3 / 5;
    }
  }

  &--prev::before {
    transform: rotate(180deg);
  }

  &--prev:hover:not(:disabled),
  &--prev:focus-visible:not(:disabled) {
    @include media-hover {
      background: linear-gradient(90deg, var(--color-bg-basic), transparent 100%);
    }
  }

  &--next:hover:not(:disabled),
  &--next:focus-visible:not(:disabled) {
    @include media-hover {
      background: linear-gradient(-90deg, var(--color-bg-basic), transparent 100%);
    }
  }

  &--prev:active:not(:disabled) {
    @include media-hover {
      background: linear-gradient(90deg, var(--color-bg-button-transparent), transparent 100%);
    }
  }

  &--next:active:not(:disabled) {
    @include media-hover {
      background: linear-gradient(-90deg, var(--color-bg-button-transparent), transparent 100%);
    }
  }

  &:disabled {
    cursor: default;

    &::before {
      background-color: var(--color-icon-disabled);
    }
  }
}

.slider__pagination {
  display: none;

  @include media-desktop {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
    grid-area: 2 / 2 / 3 / 3;
    gap: 8px;
    justify-self: center;
    max-width: calc($width-desktop - 2 * var(--width-button-slider-tablet));
    margin-bottom: 60px;

    @include media-max {
      grid-area: 2 / 3 / 3 / 4;
    }
  }
}

.slider__pagination-btn {
  display: flex;
  width: 62px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 100%;
    height: 4px;
    margin: auto;
    background-color: var(--color-bg-basic);
  }

  &--current {
    cursor: default;
  }

  &--current::before {
    background-color: var(--color-bg-button);
  }

  &:hover:not(.slider__pagination-btn--current)::before,
  &:focus-visible:not(.slider__pagination-btn--current)::before {
    @include media-hover {
      background-color: var(--color-bg-button);
      opacity: 0.25;
    }
  }

  &:active:not(.slider__pagination-btn--current)::before {
    background-color: var(--color-bg-button);
    opacity: 1;
  }
}
